body{
    margin: 0;
}

h1
{font-family: 'Poppins', sans-serif;
color: white;
font-size: 64px;

}
.banner{
    display: flex;
    justify-content: space-around;
}
header{
    background-image: url(banner-left-img/finalbanner.jpg);
    background-repeat: no-repeat;
}
.banner-left{

}
.banner-text{

}
/* ..................... */
/* ........main............... */
/* ........................ */
/* article */
/* players */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 39.6px;
    margin-left: 237.6px;
    margin-right: 237.6px;
    

}
.player{
    width: 436px;
    height: 626px;
    box-shadow: 2px 1px 10px gray;
    margin-bottom: 35.64px;
    
}
.player-profile{
    display: flex;
    justify-content: space-around;

}
